<footer>
  <div class="ink-grid">
    <p class="note">
      Data provided by Marvel. © 2015 MARVEL
    </p>
  </div>
</footer>

<!-- <footer class="vertical-space">
  <nav class="ink-navigation">
    <ul class="menu horizontal black">
      <li><a>Data provided by Marvel. © 2015 Marvel</a></li>
    </ul>
  </nav>
</footer> -->
