<div class="row main-row">
  <div class="eleven columns">

    <% unless @character == nil %>
      <h1><%= @character %></h1>
      <h5><%= character_bio %></h5>
      <br>
      <%= character_image %>
      <br>
      <h2>Character ID</h2>

      <%= @character_id_number %>
      <h2>Giant JSON</h2>

    <% end %>
  </div>
</div>
