<div class="row main-row">
  <div class="eleven columns">

    <% unless @character == nil %>
      <h1><%= @character %></h1>
      <h5><%= character_bio %></h5>
      <br>
      <%= character_image %>
      <br>
      <h2>This Month's Comics</h2>

      <p>

      <%= character_id_number %>
    <% end %>
  </div>
</div>
